<h1>タスク一覧</h1>

<div class="container">
  <div class="row">
    <%= form_with(url: tasks_path, method: :get, local: true) do |form| %>
      <%= form.label :タスク名 %>
      <%= form.text_field :title_search %>
      <%= form.label :ステータス %>
      <%= form.select :status_search ,[["",""],["未着手","未着手"],["着手中","着手中"],["完了","完了"]] %>
      <%= form.submit t('view.search')%>

      <div class="new_button btn-primary btn">
        <%= link_to t('view.create'), new_task_path,class: "create" %>
      </div>
    <table>
      <tr>
        <th>ユーザー名</th>
        <th>タイトル</th>
        <th>内容</th>
        <th><%= link_to t('view.sort_desc'), tasks_path(sort_expired: "true") %></th>
        <th>状態</th>
        <th><%= link_to t('view.sort_priority'), tasks_path(sort_priority: "true") %></th>
      </tr>
    <% end %>
      <% @tasks.each do |task| %>
        <% if current_user.id == User.find_by(id: task.user_id).id%>
          <tr class="task_row">
            <td><%= task.user.name %></td>
            <td><%= task.title %></td>
            <td><%= task.content %></td>
            <td><%= task.deadline %></td>
            <td><%= task.status %></td>
            <td><%= task.priority %></td>
            <% @tasks.each do |label| %>
              <td><%= label.name %></td>
            <% end %>
            <td class="button"><%= link_to t('view.show'),task_path(task.id), class: "btn btn-outline-primary" %></td>
            <td class="button"><%= link_to t('view.edit'),edit_task_path(task.id), class: "btn btn-outline-success" %></td>
            <td class="button"><%= link_to t('view.destroy'),task_path(task.id), method: :delete ,data: { confirm:'削除しますか？'}, class: "btn btn-outline-danger" %></td>
          </tr>
        <% end %>
      <% end %>
    </table>

    <%= paginate(@tasks) %>
  </div>
</div>
