<h1>Task.index</h1>
  <%= link_to t('view.sort_desc'), tasks_path(sort_expired: "true") %>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>期限</th>
  </tr>
  <% @task.each do |task| %>
    <tr class="task_row">
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td><%= task.deadline %></td>
      <td><%= link_to t('view.show'),task_path(task.id) %></td>
      <td><%= link_to t('view.edit'),edit_task_path(task.id) %></td>
      <td><%= link_to t('view.destroy'),task_path(task.id), method: :delete ,data: { confirm:'削除しますか？'} %></td>
    </tr>
  <% end %>
</table>
<%= link_to t('view.create'), new_task_path %>
